##############################################################
#
# List of approvers/reviewers for GhostLyzer.Module.GhostApi
#
##############################################################

# These owners will be the default owners for everything in the repo.
* @Christian-Schou
